<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = windows-1252">
</head>
<body data-gr-c-s-loaded = "true" style="...">

<!-- if the user has app role level 1
 the lines of code display the home page that displays five
 links to the user the first redirects the user to a page to add a new bidder
 and the other redirects the user to a page that lists the auction bidders
 The third link allows the user to add a new action item
 The 4th link allows the user to send bid with authentication validation
 the 5th link redirects the user to a page that lists the auction items
 the 6th allows the user to logout -->
{% if session['logged_in1'] %}
    <h1>Welcome {{name}} </h1>
    <h2><a href="/Add_a_new_Auction_Bidder"> Add new Auction Bidder</a></h2>
    <h2><a href="/List_Auction_Bidders"> List Auction Bidders</a></h2>
    <h2><a href="/Add_a_new_Auction_Item"> Send Bid</a></h2>
    <h2><a href="/Send_Bid_HMAC_Encryption"> Send Bid using HMAC with Encryption</a></h2>
    <h2><a href="/List_Auction_Items"> List Auction Items</a></h2>
    <h2><a href="/logout"> Log out</a></h2>
{% endif %}

<!-- if the user has app role level 2
 the lines of code display the home page that displays two
 links to the user the first redirects the user to a page lists the auction bidders
 The second link allows the user to add a new action item
 The third link allows the user to with authentication validation
 the 4th link redirects the user to a page that lists the auction items
 and the fith allows the user to logout -->
{% if session['logged_in2'] %}
    <h1>Welcome {{name}} </h1>
    <h2><a href="/List_Auction_Bidders"> List Auction Bidders</a></h2>
    <h2><a href="/Add_a_new_Auction_Item"> Add new Auction Item</a></h2>
    <h2><a href="/Send_Bid_HMAC_Encryption"> Send Bid using HMAC with Encryption</a></h2>
    <h2><a href="/List_Auction_Items"> List Auction Items</a></h2>
    <h2><a href="/logout"> Log out</a></h2>
{% endif %}

<!-- if the user has app role level 3
 the lines of code display the home page that displays one
 The first link allows the user to add a new action item
 The 4th link allows the user to with authentication validation
 the 5th link redirects the user to a page that lists the auction items
 the sixth link that allows the user to logout -->
{% if session['logged_in3'] %}
    <h1>Welcome {{name}} </h1>
    <h2><a href="/Add_a_new_Auction_Item"> Add new Auction Item</a></h2>
    <h2><a href="/Send_Bid_HMAC_Encryption"> Send Bid using HMAC with Encryption</a></h2>
    <h2><a href="/List_Auction_Items"> List Auction Items</a></h2>
    <h2><a href="/logout"> Log out</a></h2>
{% endif %}

</body>
</html>