nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items left to make them appear in a horizontal line */
nav li {
    float: left;
}

/* Style the anchor tags within list items */
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the active link */
.active {
    background-color: #04AA6D;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

/* Add a border to separate list items */
nav li {
    border-right: 1px solid #bbb;
}

/* Remove the right border from the last list item */
nav li:last-child {
    border-right: none;
}
.container {
    text-align: center;
}
#home {
    display: flex;
    justify-content: space-between; /* Items will be spread apart */
    align-items: center; /* Align items vertically */
}

.welcome-message {
    margin-left: 20px; /* Add margin to separate from the left edge */
}





/* Add space between input and button */
.search-bar input[type="text"],
.search-bar button {
    margin-left: 10px;
}
.explore-text {
    text-align: center; /* Center the text */
    font-weight: bold; /* Make the text bold */
    margin: 0;
    
}
#recommended-items h2 {
    text-align: center;
}