<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Online Personal Stylist</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <nav>
        <div class="container">
            <h1>Welcome to OOPS!</h1>

            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/listing">List Item</a></li>
                <li><a href="/buying">Buy Item</a></li>
                <li><a href="/home">HomePage</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/favorites">Favorites</a></li>
            </ul>
        </div>
    </nav>

   
    <main>
        <!-- Home Page -->
        <section id="home">
            <include src="home.html" />
        </section>

        <!-- Listing Page -->
        <section id="listing">
            <include src="listing.html" />
        </section>

        <!-- Cart Page -->
        <section id="cart">
            <include src="cart.html" />
        </section>

        <!-- Profile Page -->
        <section id="profile">
            <include src="profile.html" />
        </section>

        <!-- Chat Page -->
        <section id="chat">
            <include src="chat.html" />
        </section>

        <!-- Favorites Page -->
        <section id="favorites">
            <include src="favorites.html" />
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 OOPS. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>